extends layout
append head
	link(href="/stylesheets/board.css" rel="stylesheet")
	script(src="/javascripts/board.js")
block content
	.container-fluid.content-container
		h1.title= subtitle
		.row
			.col-md-6
				form(method="post" action="/pic")
					.form-group
						label(for='source') Link to your image.
						input#source.form-control(type='text', name="src", placeholder='http://bestpics.com/alienlandscape.jpg')
						small#srcHelp.form-text.text-muted If the link is broken, we will replace it with a placeholder. 
					.form-group
						label(for='exampleInputPassword1') Description
						input#desciption.form-control(type='text', name="description", placeholder='Alien landscape...')
					button.btn.btn-info(type='submit') Submit
			.col-md-6
				h6 Your Image
				h1 Your Other-Worldlies
		if pics
			.free-wall#freewall
				each pic in pics
					.brick
						img(src=pic.src, alt=pic.description)
		else 
			| You have not added any pictures yet.