html
  head
  block head
    title= title
    //CDNs
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    script(src='http://code.jquery.com/jquery-3.3.1.js', integrity='sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    script(src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js')
    // External Styles
    link(href="https://fonts.googleapis.com/css?family=Faster+One|Orbitron|Zilla+Slab" rel="stylesheet")
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")

    //Internal
    script(src='/javascripts/layout.js')
    script(src='/javascripts/freewall.js')
    link(rel="stylesheet" type="text/css" href="/stylesheets/layout.css")
    if error
      if error.type=='login'
        script(src='/javascripts/errorlogin.js')
      if error.type=='register'
        script(src='/javascripts/errorreg.js')
    .container-fluid
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href='/')=title
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='/')
                | Home
                span.sr-only (current)
            if session
              li.nav-item
                a.nav-link(href='/shareboard')
                  | My Worlds
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href='/#shares')
                  | All shares
                  span.sr-only (current)
          ul.navbar-nav.mr-auto.usernav
            if session
              li.nav-item
                a.nav-link(href="/shareboard")
                  | #{username}
                  span.sr-only (current)
              li.nav-item
                a.nav-link(href="/auth/logout")
                  |Logout
                  span.sr-only (current)
            else
              li.nav-item
                a.nav-link(href='/auth/twitter')
                  i.fa.fa-twitter
                  |Login
                  span.sr-only (current)
    block content
    block foot
      .container-fluid.footer-container.bg-dark
        p.handle @edmondnow
        a(href="https://github.com/edmondnow")
          i.fa.fa-github.fa-2x
        a(href="https://www.linkedin.com/in/ebitay/")
          i.fa.fa-linkedin.fa-2x
        a(href="https://twitter.com/edmondnow")
          i.fa.fa-twitter.fa-2x
